body {
    background-color:hsl(30, 38%, 92%);
    width: 1440px;
    height: 1440px;
}

.image {
    text-align: center;
    float: left;
    border-radius: 10px;
}

.text {
    position: inline-block;
    float: right;
    background-color: white;
}

