html {
    background-color: #022939;
}

header {
    background-color: #022939;
    color: #d1e1de;
}

h1 {
    color: #dfd8c8;
    text-align: center;
    text-transform: uppercase;
    border: 5px solid #d1e1de;
}

p {
    color: #dfd8c8;
    text-align: center;
}

*{
    border-radius: 15px;
    align-content: center;
    justify-content: center;
}

.images img {
    width: 100%;
    max-width: 450px;
    height: 400px;
    object-fit: cover;
}