body {
    text-align: justify;
    display: block;
    background-color: #494D5f;
    color: #E5EAF5;
    text-align: center;
    padding: 5px;
}

form {
    font-family: helvetica;
    background-color:#494D5f;
    color:#E5EAF5;
    text-align: left;
    margin: 20px;
    padding: 20px;
    max-width: 500px;
    min-width: 200px;
}

input, textarea {
    background-color: #494D5f;
    border: 1px solid #0a0a23;
    color: #ffffff;
    padding-right: 100px;
    text-align: auto;
}

.name {
    text-align: center;
    size-adjust: auto;
}